<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>明治大学嵯峨山研究室</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>明治大学<br>総合数理学部<br>先端メディアサイエンス学科<br>嵯峨山 研究室</h2>
        <p></p>
        <p class="view"><a href="https://github.com/sagayama-hil">GitHub</a></p>
        <p> 所在地：明治大学 中野キャンパス</p>

		<h3> 研究室情報 </h3>
        <p> 
        <a href "members.html"> メンバー</a> <br>
        発表論文 <br>
        </p>

		<h3> 嵯峨山研究室で開発したシステム </h3>
		<p>
		<a href="http://www.orpheus-music.org/v3/"> 自動作曲　オルフェウス </a> <br>
		<a href="http://hil.t.u-tokyo.ac.jp/software/Eurydice/"> 自動伴奏　ユリディス </a> <br>
		</p>

		<h3> リンク </h3>
		<p>
			国立情報学研究所
		</p>
      </header>
      <section>
{{ content }}
      </section>


      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
